%div{:class => "nine columns alpha"}
	
	%p
		Currently a freelance graphic and web designer, I spend most of my time finding ways to fuse creativity and technology. My clients range from a single person business to world-wide corporations.
	
	%p
		At the start of my career, I decided that I wanted to be a graphic designer. As time passed and new opportunities arose, I grew more into the IT industry. This gave me a new understanding of technology and how people use it. With this knowledge, I've decided to return to my creative roots and bring everything together.
		
%div{:class => "four columns"}
	%img{:src => "images/me.jpg", :id => "mypic"}