<div class="eleven columns alpha">
	<div class="contactbuttons">
		<ul class="contactbuttons">
			<li><a href="https://plus.google.com/116882420217866912505/posts"><img src="images/gplus.png" /></a></li>
			<li><a href="http://flickr.com/photos/sneakyclicker"><img src="images/flickr.png" /></a></li>
			<li><a href="http://last.fm/user/anatomyofashane"><img src="images/lastfm.png" /></li>
				<li><a href="mailto:me@shanemcd.com"><img src="images/gmail.png" /></li>
		</ul>
	</div>
</div>