<div class ="eleven columns alpha">
<p>		My name is Shane and I am a designer living in Winchester, VA. I started off my career designing mostly in the print world, but have developed a passion for web design and development.</p>

<p>		I currently spend my days freelancing for a broad client base. My clients range from single-person businesses to world-wide corporations. I spend my free time playing guitar, taking photos, and going to concerts.</p>
	
<p>		Take a moment and check out my work, and get in touch if you'd like to discuss something you need created.</p>
		
</div>
<div class = "sidebar">
<strong>Articles</strong><br/><br/>
<%= erb :_sidebar, :layout => false %>
</div>