<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Shane McDonald</title>
	<meta />
	<meta />
	<script type="text/javascript" src="http://gettopup.com/releases/latest/top_up-min.js"></script>
	<link rel="stylesheet" href="/css/base.css" />
	<link rel="stylesheet" href="/css/skeleton.css" />
	<link rel="stylesheet" href="/css/layout.css" />
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
<div class="container">
	<div id="name">Shane McDonald</div>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About Me</a></li>
			<li><a href="/work">My Work</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
	
	<div class="content"><%= yield %></div>
	<div id="footer"><p>Copyright 2011 Shane McDonald</p></div>
</div>
</body>
</html>