%div{:class => "eleven columns alpha"}
	
	%ul{:id => "portfoliolist"}
		%li
			%a(href="/print") Print Portfolio
		%li
			%a(href="/photography") Photography Portfolio
		%li
			%a(href="/web") Web Portfolio Coming Soon!
