<div class="fifteen columns alpha">
	
				  <div class="portfolioThumbs">
				  <ul>
				  <li>
				    <a href="photos/valleypano.jpg"><img src="thumbnails/valleypano.jpg"/></a>
				  </li>
				  <li>  
				    <a href="photos/crow.jpg"><img src="thumbnails/crow.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/window.jpg"><img src="thumbnails/window.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/building21.jpg"><img src="thumbnails/building21.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/whiteoak.jpg"><img src="thumbnails/whiteoak.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/sedona.jpg"><img src="thumbnails/sedona.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/newmexico.jpg"><img src="thumbnails/newmexico.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/flowers.jpg"><img src="thumbnails/flowers.jpg"/></a>
				  </li>
				  </ul>
				  </div>
				  <script type="text/javascript">
				    TopUp.addPresets({
				      ".portfolioThumbs a": {
				        title: "Gallery {alt} ({current} of {total})",
				        group: "portfolioThumbs",
				        readAltText: 1,
				        shaded: 1
				      }
				    });
				  </script>
				  </ul>

	</div>
