<div class="eleven columns alpha">
				  <div class="portfolioThumbs">
				  <ul>
				  <li>
				    <a href="photos/wintechad.jpg"><img src="thumbnails/wintechad.jpg"/></a>
				  </li>
				  <li>  
				    <a href="photos/wintechcoupons.jpg"><img src="thumbnails/wintechcoupons.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/backtoschool.jpg"><img src="thumbnails/backtoschool.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/aasp.jpg"><img src="thumbnails/aasp.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/SEED.jpg"><img src="thumbnails/seed.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/rcptc.jpg"><img src="thumbnails/rcptc.jpg"/></a>
				  </li>
				  <li>
				    <a href="photos/duet.jpg"><img src="thumbnails/duet.jpg"/></a>
				  </li>
				  </ul>
				  </div>
				  <script type="text/javascript">
				    TopUp.addPresets({
				      ".portfolioThumbs a": {
				        title: "Gallery {alt} ({current} of {total})",
				        group: "portfolioThumbs",
				        readAltText: 1,
				        shaded: 1
				      }
				    });
				  </script>
				 	</ul>

	</div>
