%script{:type => "text/javascript", :src => "http://gettopup.com/releases/latest/top_up-min.js"}

%div{:class => "eleven columns alpha"}
	%div{:class => "portfolioThumbs"}
		%ul
			%li
				%a(href="photos/wintechad.jpg")
					%img{:src => "thumbnails/wintechad.jpg"}
			%li
				%a(href="photos/wintechcoupons.jpg")
					%img{:src => "thumbnails/wintechcoupons.jpg"}
			%li
				%a(href="photos/backtoschool.jpg")
					%img{:src => "thumbnails/backtoschool.jpg"}
			%li
				%a(href="photos/aasp.jpg")
					%img{:src => "thumbnails/aasp.jpg"}
			%li
				%a(href="photos/SEED.jpg")
					%img{:src => "thumbnails/SEED.jpg"}
			%li
				%a(href="photos/rcptc.jpg")
					%img{:src => "thumbnails/rcptc.jpg"}
			%li
				%a(href="photos/duet.jpg")
					%img{:src => "thumbnails/duet.jpg"}

	:javascript
		TopUp.addPresets({
			".portfolioThumbs a": {
				title: "Gallery {alt} ({current} of {total})",
				group: "portfolioThumbs",
				readAltText: 1,
				shaded: 1
				}
				});