html, body{
	height: 100%;
}

#name{
	font: 30px 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
	float: left;
	font-size: 30px;
	margin-right: 35px;
}

#textarea {
	width: 100%;
	height: 100%;
	min-height: 500px;
}

.content{
	min-height: 100%;
	height: 100%;
}

#wrap{
	padding-top: 30px;
}

#push{
	height: 30px;
	clear: both;
}

#footer {
	font: 12px 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
	position: absolute;
	bottom: 0;
	height: 30px;
}

nav {
padding-top: 15px;
padding-bottom: 40px;
}

nav ul li{
	display: inline;
	padding-right: 15px;
	font-size: 15px;
	vertical-align: bottom;
}

nav ul li a{
	text-decoration: none;
}

.sidebar{
	float: right;
	text-align: right;
	margin-right: 50px;

}

.sidebar ul li{
	font-size: 12px;
	margin-bottom: 0;
}

#mypic {
	border: 4px solid #afafaf;
	-moz-box-shadow: 5px 2px 9px #868585;
	-webkit-box-shadow: 5px 2px 9px #868585;
	box-shadow: 5px 2px 9px #868585;
}

#portfoliolist li{
	font-size: 20px;
	margin-bottom: 20px;
}

.portfolioThumbs ul li img{
	margin-bottom: 30px;
	margin-right: 40px;
	float: left;
	-moz-box-shadow: 4px 3px 5px #9c9999;
	-webkit-box-shadow: 4px 3px 5px #9c9999;
	box-shadow: 4px 3px 5px #9c9999;
}

.portfolioThumbs img{
	padding: 0;
}

.contactbuttons ul{
	list-style: none;
	float: left;
	list-style-type: none;
	display: inline;
	margin-top: 30px;
	padding: 0;

}

.contactbuttons li{
	list-style: none;
	float: left;
	list-style-type: none;
	display: inline;
	margin-right: 15px;
	
}
